# Data Science Tools and Ecosystem

## Exercise 3 - Create a markdown cell for an introduction

# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- Popular languages that Data Scientists 
- Commonly used libraries used by Data Scientist 
- Data Science tools

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. R

2. Python

3. SQL

4. C++

## Exercise 5 - Create a markdown cell to list data science languages

Some of the commonly used libraries used by Data Scientists include:

1. NumPy 
1. Keras 
1. Pandas 
1. PyTorch

## Exercise 6 - Create a markdown cell with a table of Data Science tools


|Data Science Tools|
|----------|
|Apache Spark| 
| KNIME | 
|TensorFlow|

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples


### Below are a few examples of evaluating arithmetic expressions in Python

In [31]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integer
# Result: 17

17

In [32]:
200/60
# This will convert 200 minutes to hours by diving by 60

# Result: 3.3333333333333335 hours

3.3333333333333335

# Author 
Cooper Allwes